<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/base.css">
    <title>show</title>
</head>

<body>

    <ul>
        <% books.forEach(books =>{ %>
        <i>
            <img src=<%= books.thumbnail %> />
        </i>
        <i>
            <%= books.title %>
        </i>
        <i>
            <%= books.authorname %>
        </i>
        <i>
            <%= books.description %>
        </i>

        <button class="selectBook"> select this book</button>

        <form action="" method="POST" class="hide_form">
            <label for="title">title:</label><br>
            <input type="text" id="tilte" name="title" value="<%= books.title %>"><br>
            <label for="authorname">Author Name:</label><br>
            <input type="text" id="authorname" name="authorname" value=" <%= books.authorname %>"><br><br>
            <label for="identifier">identifier</label><br>
            <input type="text" id="identifier" name="identifier" value="<%= books.identifier %>"><br><br>
            <label for="thumbnail">image URL</label><br>
            <input type="text" id="thumbnail" name="thumbnail" value="<%= books.thumbnail %>"><br><br>
            <label for="description">description</label><br>
            <input type="text" id="description" name="description" value=" <%= books.description %>"><br><br><br><br>

            <label for="shelfName">book shelf name</label><br>
            <input type="text" id="shelfname" name="shelfname" value=""><br><br>
            <button>add to database</button>

        </form>
        <% }); %>

    </ul>




    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/app.js"></script>
</body>

</html>