<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/base.css">

    <title>BOOKS</title>
</head>

<body>
    <h1>books app</h1>
    <a href="/searches/new"> search books</a>
    <ul>
        <h3> books number :<%= booksNum  %> </h3>

        <% results.forEach(book=> { %>
        <li>
            <img src="<%=book.thumbnail%>">
            <p> Book title: <%= book.title %> </p>

            <p> Author Name: <%= book.authorName %> </p>

            <p>description: <%= book.description %></p>
        </li>
        <button> <a href="books/<%=book.id%>"> Details</a></button>
        <!-- <input type="button" name="button" value="Details" formaction="'/'"> -->

        <% }) %>

    </ul>
</body>

</html>